.mediaViewInfo {
	--web-view-name: 웹 1920 – 9;
	--web-view-id: n_1920__9;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: n_1920__9;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#n_1920__9 {
	position: absolute;
	width: 1920px;
	height: 1380px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: 웹 1920 – 9;
	--web-view-id: n_1920__9;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#n_9446_Converted {
	filter: blur(1px);
	position: absolute;
	width: 1920px;
	height: 1182px;
	left: 0px;
	top: -72px;
	overflow: visible;
}
#Enp_Visuals {
	left: 171px;
	top: 22px;
	position: absolute;
	overflow: visible;
	width: 253px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: __1920___1.html;
	cursor: pointer;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(34,34,34,1);
}
#Home {
	left: 1247px;
	top: 33px;
	position: absolute;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: __1920___1.html;
	cursor: pointer;
	text-align: left;
	font-family: Archivo;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Portfolio {
	left: 1524px;
	top: 33px;
	position: absolute;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: __1920___4.html;
	cursor: pointer;
	text-align: left;
	font-family: Archivo;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Contact {
	left: 1670px;
	top: 33px;
	position: absolute;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: __1920___5.html;
	cursor: pointer;
	text-align: left;
	font-family: Archivo;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#About_me {
	left: 1365px;
	top: 33px;
	position: absolute;
	overflow: visible;
	width: 110px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: __1920___3.html;
	cursor: pointer;
	text-align: left;
	font-family: Archivo;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Enp_Visuals_w {
	left: 850px;
	top: 1279px;
	position: absolute;
	overflow: visible;
	width: 222px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(34,34,34,1);
}
#behance-2161 {
	position: absolute;
	width: 70px;
	height: 70px;
	left: 877px;
	top: 1169px;
	overflow: visible;
}
#n_7390 {
	position: absolute;
	width: 72px;
	height: 72px;
	left: 972px;
	top: 1168px;
	overflow: visible;
}
#Edit_Portfolio {
	left: 800px;
	top: 407px;
	position: absolute;
	overflow: visible;
	width: 321px;
	white-space: nowrap;
	text-align: center;
	font-family: Cerebri Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(0,0,0,1);
}
#n_1 {
	fill: rgba(0,0,0,0);
	stroke: rgba(0,0,0,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_1 {
	overflow: visible;
	position: absolute;
	width: 46px;
	height: 4px;
	left: 937px;
	top: 378px;
	transform: matrix(1,0,0,1,0,0);
}
#MOTION_GRAPHIC_ {
	left: 720px;
	top: 489px;
	position: absolute;
	overflow: visible;
	width: 451px;
	white-space: nowrap;
	text-align: center;
	font-family: Cerebri Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(31,54,69,1);
}
#Text {
	left: 1180px;
	top: 487px;
	position: absolute;
	overflow: visible;
	width: 22px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: __1920___11.html;
	cursor: pointer;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(31,54,69,1);
}
#YOUTUBE__ {
	left: 835px;
	top: 580px;
	position: absolute;
	overflow: visible;
	width: 236px;
	white-space: nowrap;
	text-align: center;
	font-family: Cerebri Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(31,54,69,1);
}
#Text_ {
	left: 1065px;
	top: 577px;
	position: absolute;
	overflow: visible;
	width: 22px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: __1920___12.html;
	cursor: pointer;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(31,54,69,1);
}
#E-SPORTS_ {
	left: 828px;
	top: 672px;
	position: absolute;
	overflow: visible;
	width: 237px;
	white-space: nowrap;
	text-align: center;
	font-family: Cerebri Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(31,54,69,1);
}
#Text_ba {
	left: 1072px;
	top: 670px;
	position: absolute;
	overflow: visible;
	width: 22px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: __1920___13.html;
	cursor: pointer;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(31,54,69,1);
}