.mediaViewInfo {
	--web-view-name: 웹 1920 – 1;
	--web-view-id: n_1920__1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: n_1920__1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#n_1920__1 {
	position: absolute;
	width: 1920px;
	height: 1380px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: 웹 1920 – 1;
	--web-view-id: n_1920__1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#n_9446_Converted {
	filter: drop-shadow(0px 3px 6px rgba(255, 255, 255, 0.161)) blur(1px);
	position: absolute;
	width: 1920px;
	height: 1182px;
	left: 0px;
	top: -72px;
	overflow: visible;
}
#Enp_Visuals {
	left: 171px;
	top: 22px;
	position: absolute;
	overflow: visible;
	width: 253px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(34,34,34,1);
}
#Home {
	left: 1247px;
	top: 33px;
	position: absolute;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	text-align: left;
	font-family: Archivo;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Portfolio {
	left: 1524px;
	top: 33px;
	position: absolute;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: __1920___4.html;
	cursor: pointer;
	text-align: left;
	font-family: Archivo;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Contact {
	left: 1670px;
	top: 33px;
	position: absolute;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: __1920___4.html;
	cursor: pointer;
	text-align: left;
	font-family: Archivo;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#About_me {
	left: 1365px;
	top: 33px;
	position: absolute;
	overflow: visible;
	width: 110px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: __1920___3.html;
	cursor: pointer;
	text-align: left;
	font-family: Archivo;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Im_tryna_various_things_Would_ {
	left: 171px;
	top: 374px;
	position: absolute;
	overflow: visible;
	width: 1100px;
	white-space: nowrap;
	text-align: left;
	font-family: Cerebri Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 70px;
	color: rgba(31,54,69,1);
}
#View_Portfolio {
	left: 171px;
	top: 540px;
	position: absolute;
	overflow: visible;
	width: 233px;
	white-space: nowrap;
	text-align: left;
	font-family: Cerebri Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(34,34,34,1);
}
#Text {
	left: 412px;
	top: 536px;
	position: absolute;
	overflow: visible;
	width: 18px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: __1920___4.html;
	cursor: pointer;
	text-align: left;
	font-family: Cerebri Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(34,34,34,1);
}
#Enp_Visuals_z {
	left: 850px;
	top: 1279px;
	position: absolute;
	overflow: visible;
	width: 222px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(34,34,34,1);
}
#behance-2161 {
	position: absolute;
	width: 70px;
	height: 70px;
	left: 877px;
	top: 1169px;
	overflow: visible;
}
#n_7390 {
	position: absolute;
	width: 72px;
	height: 72px;
	left: 972px;
	top: 1168px;
	overflow: visible;
}